@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: url(https://athunder79.github.io/imagehost/images/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: #787676;
  background-blend-mode: overlay;
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
}


.bg-nav {
  background-color: #092635;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* resume round button */
.highlight {
  background-color: #d51c1c;
  color: white;
}

/* alert messages override bootstrap */
.alert {
  color: #fbf6f7;
  background-color: #dc2d2d;
  border-color: #dc2d2d;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.stats-th {
  font-weight: bolder;
  color: black;
}

.table-head-right {
  float: right;

}

.scorecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15px;

}

.underpar {
  background-color: #94e894;
}

.par {
  background-color: lightblue;
}

.overpar {
  background-color: #c96666;
}

caption {
  margin: 0 auto;
  
  margin-block-end: 0em;
  color: #fefdfd;
  background-color: #1B1A55;
  margin-bottom: none;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

.tables {
  /* override user agent styling */
  caption-side: top;
  border-collapse: unset; 

  /* box-shadow: 0 4px 8px #050505; */
  font-size: 12px;
  width: 60%;
  text-align: center;
  border: none;
  background-color: #1B1A55;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 15px;
  margin-bottom: 20px;

}

.tableTotal {
  caption-side: top;
  border-collapse: unset; 
  /* box-shadow: 0 4px 8px #050505; */
  font-size: 12px;
  width: 50%;
  text-align: center;
  border: solid;
  background-color: #1B1A55;
  border: none;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 60px;

}

.back9heading th {
  font-size: 10px;
}

.add-shot-button, .at-ball-button  {
  background-color:#28665c;
  color: white;
  border-color: #28665c; 
}

.show-map-button {
  margin-top: 50px;
  background-color:#28665c;
  color: white;
  border-color: #28665c;
}

.in-hole-button {
  background-color: #6ddf80;
  color: white;
  border-color: #6ddf80;
}

.or{
  text-align: center;
  margin: 0 auto;
  color: #1b1a1a;
  font-weight: bolder;
  font-size: x-large;
  
}

.clubs{
  font-size: 20px;
  font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

.finish-round-button {
  background-color: #d30808;
  color: white;
  border-color: #d30808;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hole-heading {
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 50px;
  font-weight: bold;
  color: #ecf4f0;
  text-align: center;
  background-color: #1B1A55;
  width: 70%;

}

.shot-heading {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px; 
  border-radius: 5px;
  font-size: 40px;
  color: #ecf4f0;
  text-align: center;
  background-color: #1B1A55;
  width: 60%;
  

}

.last-shot {
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  color: #ecf4f0;
  text-align: center;
  background-color: #464e7c;
  width: 50%;
}

.back9heading th {
  font-size: 10px;
}

/* style dropdown on shot form */

#id_club, #id_hole_par, #id_hole_distance {
  margin:0 auto;
  width: 50%;
}



td {
  /* border:solid; */
  border-style: collapse;
  background-color: #fcfcfa;
  padding: .5em;
}

th {
  /* border:solid; */
  border-style: collapse;
color: #ecf4f0;
  padding: .5em;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}

.account-heading {
  font-size: 2.5rem;
}

.hide {
  display: none;  
}

.warning {
  color: #ff0000;
  font-weight: bolder;
}

#map {
  height: 700px;  
  width: 100%;     
   
}
#golf-courses {
  width: 50%;     
}

/* media query for mobile */
@media screen and (max-width: 800px) {
  .hole-heading, .shot-heading, .last-shot, .tables, .tableTotal 
   {
    width: 100%;
  }


  }


