
{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}

    <div id="map"></div>
    <div id="golf-courses">
        <h2>Golf Courses Near You</h2>
        <ul>
            {% for course in golf_courses %}
            <li>
                <strong>{{ course.name }}</strong><br>
                Address: {{ course.address }}<br>
                Rating: {% if course.rating %}{{ course.rating }}{% else %}N/A{% endif %}<br>
                Latitude: {{ course.latitude }}<br>
                Longitude: {{ course.longitude }}
            </li>
            {% endfor %}
        </ul>
        <p>setting{{ settings.GOOGLE_MAPS_API_KEY }}</p>
    </div>

    <!-- Load Google Maps JavaScript API -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap">
</script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 53.3498053, lng: -6.2603097},  // Dublin coordinates
                zoom: 12  // Adjust the zoom level as needed
            });

            // Add markers for golf courses
            var golfCourses = [
                {% for course in golf_courses %}
                {
                    name: "{{ course.name }}",
                    location: {lat: {{ course.latitude }}, lng: {{ course.longitude }}}
                },
                {% endfor %}
            ];

            golfCourses.forEach(function(course) {
                var marker = new google.maps.Marker({
                    position: course.location,
                    map: map,
                    title: course.name
                });
            });
        }
    </script>

{% endblock %}