
{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
    <h1>Birdie-iView Home!</h1>

    <button type="button" id="location">Location</button>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>

            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}


