{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<div class="pageholder">
    <div class="titleholder">
        <div class="title"><i class="fas fa-compass mr-2"></i>Your Shots </div>
        <a href="{% url 'core-home'%}" class="title2 mr-4"><i class="fas fa-home mr-2"></i>Resume Your Round</a>
    </div>

    <div class="linkholder">
        <div class="mapholder">
            <div id="map"></div>
            <script>
                const mapShotsUrl = "{% url 'map-shots' %}";
            </script>
            <script src="{% static 'script/map.js' %}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap"></script>
        </div>
    </div>
</div>

{% endblock content %}
