{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% csrf_token %}


{% if user.is_authenticated %}

<h1 class="hole-heading">Hole {{ hole_num }}</h1>
<h2 class="shot-heading">Shot: {{ current_shot }}</h2>
<!-- <h2>Par: {{ hole_par }}</h2>
<h2>Hole Distance: {{ hole_distance }}</h2> -->

<p class="warning" id="result"></p>
<form id="shotForm" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"></legend>
        <!-- <input type="text" id="latitude" placeholder="Latitude">
            <input type="text" id="longitude" placeholder="Longitude"> -->

        {{ form|crispy }}
    </fieldset>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button id="location" class="btn btn-primary" type="button">Add Shot</button>
    </div>
    <br>
</form>

<!-- return to hole-detail to enter next hole -->
<form action="{% url 'hole-details' course_id=current_hole.course.id round_id=current_hole.round.id %}" method="GET">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button id="next-hole" class="btn btn-primary" type="submit">In The Hole!</button>
    </div>
</form>

<!-- button to show or hide the map -->
<div id="toggle-map" class="d-grid gap-2 col-6 mx-auto">
    <button id="show-map" class="btn btn-primary" type="button">Show Map</button>
</div>

<!-- Shot Map -->
<div id="map-container" class="linkholder hide">
    <div class="mapholder">
        <div id="map"></div>
        <script>
            const roundId = {{ round_id }};
            const mapShotsUrl = "{% url 'map-shots' %}";
        </script>
        <script src="{% static 'script/map.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap"></script>
    </div>
</div>

<div class="center">
    <table class="tables">

        <caption>
            <h2>Front 9</h2>
        </caption>
        <tbody>
            <tr>
                <th scope="col">Hole</th>
                <!-- {% for hole in holes|slice:":9" %}
                    <th scope="col">{{ hole.hole_num }}</th>
                    {% endfor %} -->
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">In</th>
            </tr>
            <tr>
                <td>Dist</td>
                {% for hole in holes|slice:":9" %}
                <td>{{ hole.hole_distance }}</td>
                {% endfor %}
                <td id="totalFrontDist"></td>

            </tr>
            <tr>
                <td>Par</td>
                {% for hole in holes|slice:":9" %}
                <td id="par{{ hole.hole_num }}">{{ hole.hole_par }}</td>
                {% endfor %}
                <td id="totalFrontPar"></td>
            </tr>
            <tr>
                <td>Shots</td>
                {% for hole in holes|slice:":9" %}
                <td id="scor1">{{ hole.shot_count }}</td>
                {% endfor %}

                <td id="totalFrontScor"></td>
            </tr>
            <tr>
                <td>Score</td>
                {% for hole in holes|slice:":9" %}
                <td class="hide" id="ou0">{{ hole.score }}</td>
                {% endfor %}

                <td id="totalFrontOU"></td>
            </tr>
        </tbody>
    </table>

    <table class="back9heading tables">
        <caption>
            <h2>Back 9</h2>
        </caption>
        <tbody>
            <tr>
                <th scope="col">Hole</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">13</th>
                <th scope="col">14</th>
                <th scope="col">15</th>
                <th scope="col">16</th>
                <th scope="col">17</th>
                <th scope="col">18</th>
                <th scope="col">Out</th>
            </tr>
            <tr>
                <td>Dist</td>
                {% for hole in holes|slice:"9:" %}
                <td>{{ hole.hole_distance }}</td>
                {% endfor %}
                <td id="totalBkDis">f</td>
            </tr>
            <tr>
                <td>Par</td>
                {% for hole in holes|slice:"9:" %}
                <td>{{ hole.hole_par }}</td>
                {% endfor %}
                <td id="totalBkPar">f</td>
            </tr>
            <tr>
                <td>Shots</td>
                {% for hole in holes|slice:"9:" %}
                <td>{{ hole.shot_count }}</td>
                {% endfor %}
                <td id="totalBkScor">f</td>
            </tr>
            <tr>
                <td>Score</td>
                {% for hole in holes|slice:"9:" %}
                <td id="ou0{{ hole.hole_num }}">{{ hole.score }}</td>
                {% endfor %}
                <td id="totalBkOu">f</td>
            </tr>
        </tbody>
    </table>

    <table class="tableTotal">
        <caption>
            <h2>Total Round Score</h2>
        </caption>

        <tbody>
            <tr>
                <th scope="colgroup" colspan="2"></th>
            </tr>
            <tr>
                <td>Total Distance</td>
                <td id="totalRndDis">0</td>
            </tr>
            <tr>
                <td>Course Par</td>
                <td id="totalRndPar">0</td>
            </tr>
            <tr>
                <td>Total Shots</td>
                <td id="totalRndScor">0</td>
            </tr>
            <tr>
                <td>Total Score</td>
                <td id="totalRndOu">0</td>
            </tr>
        </tbody>
    </table>
</div>


    {% endif %}

    {% endblock %}