
{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
    <h1>Birdie-iView Home!</h1>
    <h2>Scorecard</h2>
    <p id="result"></p>
    <form id="myForm" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <!-- <input type="text" id="latitude" placeholder="Latitude">
            <input type="text" id="longitude" placeholder="Longitude"> -->

            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button id="location" class="btn btn-outline-info" type="button">Submit</button>
        </div>
    </form>
{% endblock %}