
{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}


<h1>Hole {{ hole_num }}</h1>

<h2>Shot count: {{ shot_count }}</h2>

<h2>Par: {{ hole.hole_par }}</h2>
<h2>Hole Distance: {{ hole.hole_distance }}</h2>




    <p class="warning" id="result"></p>
    <form id="shotForm" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <!-- <input type="text" id="latitude" placeholder="Latitude">
            <input type="text" id="longitude" placeholder="Longitude"> -->

            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button id="location" class="btn btn-outline-info" type="button">Take Shot</button>
            <button id="putt-made" class="btn btn-outline-info" type="button">Holed the Putt</button>
        </div>
    </form>

    <div class="center">
        <table class="tables">

            <caption>
                <h2>Front 9</h2>
            </caption>
            <tbody>
                <tr>
                    <th scope="col">Hole</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">In</th>
                </tr>
                <tr>
                    <td>Dist</td>
                    <td id="dis1">{{ hole.hole_distance }}</td>
                    <td id="dis2">0</td>
                    <td id="dis3">0</td>
                    <td id="dis4">0</td>
                    <td id="dis5">0</td>
                    <td id="dis6">0</td>
                    <td id="dis7">0</td>
                    <td id="dis8">0</td>
                    <td id="dis9">0</td>
                    <td id="totalFrontDist"></td>

                </tr>
                <tr>
                    <td>Par</td>
                    <td id="par1">{{ hole.hole_par }}</td>
                    <td id="par2">0</td>
                    <td id="par3">0</td>
                    <td id="par4">0</td>
                    <td id="par5">0</td>
                    <td id="par6">0</td>
                    <td id="par7">0</td>
                    <td id="par8">0</td>
                    <td id="par9">0</td>
                    <td id="totalFrontPar"></td>
                </tr>
                <tr>
                    <td>Shots</td>
                    <td id="scor1">{{ shot_count }}</td>
                    <td id="scor2">0</td>
                    <td id="scor3">0</td>
                    <td id="scor4">0</td>
                    <td id="scor5">0</td>
                    <td id="scor6">0</td>
                    <td id="scor7">0</td>
                    <td id="scor8">0</td>
                    <td id="scor9">0</td>
                    <td id="totalFrontScor"></td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td class="hide" id="ou0">{{ score }}</td>
                    <td id="ou1">0</td>
                    <td id="ou2">0</td>
                    <td id="ou3">0</td>
                    <td id="ou4">0</td>
                    <td id="ou5">0</td>
                    <td id="ou6">0</td>
                    <td id="ou7">0</td>
                    <td id="ou8">0</td>
                    <td id="ou9">0</td>
                    <td id="totalFrontOU"></td>
                </tr>
            </tbody>
        </table>


        <table class="back9heading tables">
            <caption>
                <h2>Back 9</h2>
            </caption>
            <tbody>
                <tr>
                    <th scope="col" class="">Hole</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>
                    <th scope="col">14</th>
                    <th scope="col">15</th>
                    <th scope="col">16</th>
                    <th scope="col">17</th>
                    <th scope="col">18</th>
                    <th scope="col">Out</th>
                </tr>
                <tr>
                    <td>Dist</td>
                    <td id="dis10">0</td>
                    <td id="dis11">0</td>
                    <td id="dis12">0</td>
                    <td id="dis13">0</td>
                    <td id="dis14">0</td>
                    <td id="dis15">0</td>
                    <td id="dis16">0</td>
                    <td id="dis17">0</td>
                    <td id="dis18">0</td>
                    <td id="totalBkDis"></td>
                </tr>
                <tr>
                    <td>Par</td>
                    <td id="par10">0</td>
                    <td id="par11">0</td>
                    <td id="par12">0</td>
                    <td id="par13">0</td>
                    <td id="par14">0</td>
                    <td id="par15">0</td>
                    <td id="par16">0</td>
                    <td id="par17">0</td>
                    <td id="par18">0</td>
                    <td id="totalBkPar"></td>
                </tr>
                <tr>
                    <td>Shots</td>
                    <td id="scor10">0</td>
                    <td id="scor11">0</td>
                    <td id="scor12">0</td>
                    <td id="scor13">0</td>
                    <td id="scor14">0</td>
                    <td id="scor15">0</td>
                    <td id="scor16">0</td>
                    <td id="scor17">0</td>
                    <td id="scor18">0</td>
                    <td id="totalBkScor"></td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td id="ou10">0</td>
                    <td id="ou11">0</td>
                    <td id="ou12">0</td>
                    <td id="ou13">0</td>
                    <td id="ou14">0</td>
                    <td id="ou15">0</td>
                    <td id="ou16">0</td>
                    <td id="ou17">0</td>
                    <td id="ou18">0</td>
                    <td id="totalBkOu"></td>
                </tr>
            </tbody>
        </table>
        <table class="tableTotal">
            <caption>
                <h2>Total Round Score</h2>
            </caption>

            <tbody>
                <tr>
                    <th scope="colgroup" colspan="2"></th>
                </tr>
                <tr>
                    <td>Total Distance</td>
                    <td id="totalRndDis">0</td>
                </tr>
                <tr>
                    <td>Course Par</td>
                    <td id="totalRndPar">0</td>
                </tr>
                <tr>
                    <td>Total Shots</td>
                    <td id="totalRndScor">0</td>
                </tr>
                <tr>
                    <td>Total Score</td>
                    <td id="totalRndOu">0</td>
                </tr>
            </tbody>
        </table>
{% endblock %}